<div class="row no-gutters">
    <div
    (click)="removeFromCart()"
    class="col-2">
      <button class="btn btn-secondary btn-block">-</button>
    </div>
    <div class="col text-center">
      {{shoppingCart.getQuantity(product) }} in cart
    </div>
    <div 
    (click)="addToCart()"
    class="col-2">
      <button class="btn btn-secondary btn-block">+</button>
    </div>
  </div>