/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    padding-top: 80px;
}

.navbar-light .navbar-brand{
    color: #ffffff;
}

.bg-light {
    background-color: #f31327!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
